
.env.local

# Ignore dependencies and editor caches
node_modules/
node_modules/.svelte2tsx-language-server-files/

# Build artifacts
dist/
build/
.svelte-kit/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
